In [17]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [18]:
testing = pd.read_csv('poker-hand-testing.csv',names=['S1','C1','S2','C2','S3','C3','S4','C4','S5','C5','hand'])
training = pd.read_csv('poker-hand-training-true.csv',names=['S1','C1','S2','C2','S3','C3','S4','C4','S5','C5','hand'])

In [19]:
training.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1  10   1  11   1  13   1  12   1   1     9
1   2  11   2  13   2  10   2  12   2   1     9
2   3  12   3  11   3  13   3  10   3   1     9
3   4  10   4  11   4   1   4  13   4  12     9
4   4   1   4  13   4  12   4  11   4  10     9

In [20]:
testing.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1   1   1  13   2   4   2   3   1  12     0
1   3  12   3   2   3  11   4   5   2   5     1
2   1   9   4   6   1   4   3   2   3   9     1
3   1   4   3  13   2  13   2   1   3   6     1
4   3  10   2   7   1   2   2  11   4   9     0

In [21]:
print(training.shape)
print(testing.shape)

(25010, 11)
(1000000, 11)

In [22]:
X = training.drop(['hand'],axis=1)
y = training.hand
Xte = testing.drop(['hand'],axis=1)
yte = testing.hand

In [23]:
from sklearn.tree import DecisionTreeClassifier
clf1 = DecisionTreeClassifier(random_state=0)
clf1.fit(X,y)
# print(clf2.oob_score_)
pred1 = clf1.predict(Xte)
print(clf1.score(Xte,yte))

0.479303

In [24]:
from sklearn.ensemble import RandomForestClassifier
clf2 = RandomForestClassifier(n_estimators=1000,oob_score = True,random_state=0)
clf2.fit(X,y)
# print(clf2.oob_score_)
pred2 = clf2.predict(Xte)
print(clf2.score(Xte,yte))

0.625232

In [25]:
#output distribution
plt.hist((np.reshape(pred2,(YTest.shape[0],)),YTest),bins=[0,1,2,3,4,5,6,7,8,9,10],log=True)
plt.legend(labels=('preds','test'))
plt.show()

NameError: name 'YTest' is not defined